<DOCTYPE html>

<html style="height: 100%; width:100%; background-color: #FFD700;">

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body style="height: 90%;">
        <div style="background-color: #333; margin-top: 1%; height: 106.65%">
                <img style="margin-left: 45.5%;" src="/1j+ojl1FOMkX9WypfBe43D6kjfCAqBBLnBzJwXs1M3EMoAJtlSEsjvtj...jpeg"></img>


        <h3 style="margin-left: 45.75%; color: #FFD700;"> Login </h3><br>
<form style="width: 20%; margin-left: 40%; color: #FFD700">
        Username (At least 6 characters):<br>
        <input type="text" id="user" class="form-control"><br>
        <br>
        Password (At least 6 characters):<br>
        <input type="password" id="pass" class="form-control"><br>
        <br><br>
	Confirm password:<br>
        <input type="password" id="pass2" class="form-control"><br>
        <br><br>
        <button style="margin-left:35%; margin-top: -2%; margin-bottom: 1.8%;" onClick="createAccount()" class="btn btn-default" id="login" type="button"> Create Account </button>
        <br><br>

</form>

<script>
	function createAccount() {
		var user = document.getElementById("user").value;
		var pass = document.getElementById("pass").value;
		var passconf = document.getElementById("pass2").value;

		if (user == "" || pass == "" || passconf == "") {
			alert("All fields must be completed before creating account.");
		} else if (user.length < 6) {
			alert("Username must be at least 6 characters long.");
		} else if (pass != passconf) {
			alert("Confirmation password does not match given password.");
			document.getElementById("pass").value = "";
			document.getElementById("pass2").value = "";
		} else if (pass.length < 6) {
			alert("Password must be at least 6 characters long.");
			document.getElementById("pass").value = "";
			document.getElementById("pass2").value = "";
		} else {
			console.log("creating account");

			$.ajax({
				url: 'adduser/' + user + '/' + pass,
				type: 'get',
				success: function(resposnse) {
					alert("Account successfuly created!");
					window.location.href="http://localhost:8080/main";
				},
				error: function(response) {
					alert("User already exists! Please choose a different username.");
					document.getElementById("user").value = "";
					document.getElementById("pass").value = "";
                        		document.getElementById("pass2").value = "";
				} 
			});
		}
	}
</script>

</body>
</html>


