<!DOCTYPE html>

<html style="height: 100%; width:100%; background-color: #FFD700;">

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body style="height: 90%;">
	<div style="background-color: #333; margin-top: 1%; height: 106.65%">
		<img style="margin-left: 45.5%;" src="/1j+ojl1FOMkX9WypfBe43D6kjfCAqBBLnBzJwXs1M3EMoAJtlSEsjvtj...jpeg"></img>
		
	
	<h3 style="margin-left: 48.5%; color: #FFD700;"> Login </h3><br>
<form style="width: 20%; margin-left: 40%; color: #FFD700">
        Username:<br>
        <input type="text" id="user" class="form-control"><br>
        <br>
        Password:<br>
        <input type="password" id="pass" class="form-control"><br>
    	<br><br>
	<button style="margin-left:42.5%; margin-top: -2%; margin-bottom: 1.8%;" onClick="loginUser()" class="btn btn-default" id="login" type="button"> Login </button>
	<br><br>
	<button style="margin-left:35%; margin-top: -2%; margin-bottom: 1.8%;" onClick="create()" class="btn btn-default" id="login" type="button"> Create Account </button>

</form>

<script>
        function loginUser() {
                var user = document.getElementById("user").value;
                var pass = document.getElementById("pass").value;
                
		if (user == "" || pass == "") {
			alert("Fields cannot be left blank");
		}

		$.ajax({
			url: '/login/' + user + "/" + pass,
			type: 'get',
			processData: false,
			success: function(respose) {
				window.location.href="http://localhost:8080/main?user=" + user;	
			},

			error: function(response) {
				alert("Invalid login information. Please enter the correct login information to continue or create a new account.");
				document.getElementById("user").value = "";
				document.getElementById("pass").value = "";
			}
		});
        }
        
        function create() {
		window.location.href="http://localhost:8080/createAccount";		
        }
</script>


</div>
</body>

</html>
