table {
    table-layout: fixed;
    margin-left: 15%;
    margin-right: 15%;
}

.leftCol {
	text-align: left;
	width: 1%;
}

.centerCol {
	text-align: center;
	width: 1%;
}

.rightCol {
	text-align: right;
	width: 1%;
}

.form-control {
	width: 35%;
}
