<html>
<head>
	<link rel="stylesheet" href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css">
	<script src="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<h3> Welcome to Rate My Schedule! </h3>
	<input id="classInput" />

	<script>
	var input = document.getElementById("classInput");
	var a = new Awesomplete(input);

	var classList = [""];
	$(document).ready(function() {
		$.ajax({
			url: '/get-classes',
			type: 'GET',
			success: function(response) {
				for (var i = 0; i < response.length; i++) {
					var currClass = response[i].number + " " + response[i].name + " | " + response[i].professor;
					classList.push(currClass);
				}
				a.list = classList;
			}
		});
	});
	</script>

</body>
</html>
