<!DOCTYPE html>
<html style="height: 100%; width: 100%; background-color: #FFD700;">
<head>

	       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css">
	<link rel="stylesheet" href="main-styles.css">
	<script src="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="height: 90%;">
<div style="background-color: #333; margin-top:1%; height: 106.65%">

	<!--<body style="background-color: #333; margin-top:1%;">-->
	<a href = "http://localhost:8080/">
	<img style="margin-left: 45.5%;" src="/1j+ojl1FOMkX9WypfBe43D6kjfCAqBBLnBzJwXs1M3EMoAJtlSEsjvtj...jpeg"></img>
	</a>

	<!--<h3 id="testing"> Welcome to Rate My Schedule! </h3> -->
	<input id="classInput" class="form-control" placeholder="Find a class" />

	<!--<input id="classSearch" class="form-control" placeholder="Search for a class" />-->

	<!--<button class="btn btn-default"  onclick="writeReview()">Write a Review</button>-->
	<script>
		function writeReview() {
			var urls = window.location;
        	        var url = new URL(urls);
 	               var user = url.searchParams.get("user");

			document.location.href = '/write_review?user=' + user;
		}
	</script>

	<div style="margin-top: 3%; color: white; margin-left: 45.5%;"id="schedule-header">
		<h5>My Schedule</h5>
		<h5>Average Difficulty: </h5><h5 id="schedAvg">0</h5>
	</div>

	<div id="schedule-placeholer" style="margin-left: 42%; margin-top: 3%; color: white;">
		<p>Search for a class to add to your schedule to begin</p>
		<p> You can add up to 6 classes to your schedule </p>
	</div>
	<table id="schedule" style="display:none; margin-top: 3%">
		<tr>
			<th class="leftCol">Class</th>
			<th class="centerCol">Professor</th>
			<th class="rightCol">Score</th>
		</tr>
	</table>

	<!--<div id="schedule" style="display: none">
		<div class="schedule-body">
			<p>this is a filler class</p>
		</div>
		<div class="schedule-body">
			<p>this is a filler prof</p>
		</div>
		<div class="schedule-body">
			<p>this is a filler score</p>
		</div>
	</div>-->
	<button type="button"  class="btn btn-default" style="margin-left:47.5%; margin-top: 3%;"> <a id="reviewbutton" href="http://localhost:8080/write_review"> Write Review </a> </button>
<div>

	<script>
	var input = document.getElementById("classInput");
	//var input2 = document.getElementById("classSearch");
	var a = new Awesomplete(input);
	//var a2 = new Awesomplete(input2);

	var classList = [""];
	$(document).ready(function() {
		$.ajax({
			url: '/get-classes',
			type: 'GET',
			success: function(response) {
				for (var i = 0; i < response.length; i++) {
					var currClass = response[i].number + " " + response[i].name + " | " + response[i].professor;
					classList.push(currClass);
				}
				a.list = classList;
				//a2.list = classList;
			}
		});
	});
	</script>

	<script>
		window.addEventListener("awesomplete-selectcomplete", function(e){
			$("#classInput").val("");
			var x = document.getElementById("schedule-placeholer");
			var y = document.getElementById("schedule");

			var tempString = e.text.value.split(" | ");
			var classProf = tempString[1];
			tempString = tempString[0].split(" ");
			var classNum = tempString[0];
			var className = "";
			for (var i = 1; i < tempString.length; i++) {
				className += tempString[i];
				if ( i != tempString.length ) {
					className += " ";
				} 
			}

			//var avg = parseFloat($("#schedAvg").text());

			var classScore;
			var data;

			$.ajax({
				url: "/get-cid?name="+className+"&number="+classNum+"&professor="+classProf,
				type: 'GET',
				success: function(response) {
					var cid = response[0].cid;
					console.log(response[0].cid);

					$.ajax({
						url: "/get-score?cid="+cid,
						type: 'GET',
						success: function(response) {
							classScore = response[0].avg;

							//console.log("avg " + avg);
							//console.log("class " + classScore);
							//avg = avg / 5;
							//console.log("new avg " + avg);
							//avg += (classScore/5);
							//console.log("new new avg " + avg);

							//avg += classScore;

							data = "<tr onclick=\"clickedClass('/view_class?name=" + className + "&number=" + classNum + "&professor= " + classProf + "')\">" +
										"<td class=\"leftCol\">" +  "<h1>" + classNum + "</h1>" +
								   				  "<p>" + className + "</p>" + 
						   				"</td>" +
						   				"<td class=\"centerCol\">" + "<h1>" + classProf + "</h1>" +
						   				"</td>" + 
						   				"<td class=\"rightCol\">" + "<h1>" + classScore + "</h1>" +
						   				"</td>" +  
					   				"</tr>";


			   				if (document.getElementById("schedule").rows.length <= 6) {
								$("#schedule").append(data);

								var count = 0;

								//var avg = parseFloat($("#schedAvg").text());
								var avg = 0;
								avg = avg / 5;
								$(".rightCol").each(function(i, score) {
									if ( i != 0 ) {
	    								console.log("here " + i + " " + score);
	    								var temp = score.innerHTML;
	    								console.log(temp);
	    								var temp2 = temp.split("<h1>");
	    								console.log(temp2);
	    								var temp3 = temp2[1];
	    								console.log(temp3);
	    								var temp4 = temp3.charAt(0);
	    								console.log(temp4);
	    								var temp5 = temp4 / 5;
	    								avg = avg + temp5;
	    								count++;
	    							}
								});
								avg = avg / count;
								avg = avg * 5;
								//avg = avg / (document.getElementById("schedule").rows.length - 1);
								//avg = avg * 5;
								//console.log("Avg " + avg);
								$("#schedAvg").text(avg); 
							}

							if (x.style.display != "none") {
				       			x.style.display = "none";
				       			y.style.display = "flex";
				    		}
				  			console.log(e.text.value);	
						}
					});
				}
			});

	}, false);
	</script>
	<script>
		function clickedClass(route) {
			document.location.href = route;
			console.log("clicked class");
		}
	</script>

</body>
</html>
