<!DOCTYPE html>
<html style="height: 100%; width: 100%; background-color: #FFD700;">
<head>

	       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css">
	<link rel="stylesheet" href="main-styles.css">
	<script src="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="height: 90%;">
<div style="background-color: #333; margin-top:1%; height: 106.65%">

	<!--<body style="background-color: #333; margin-top:1%;">-->
	<a href = "http://localhost:8080/">
	<img style="margin-left: 45.5%;" src="/1j+ojl1FOMkX9WypfBe43D6kjfCAqBBLnBzJwXs1M3EMoAJtlSEsjvtj...jpeg"></img>
	</a>

	<!--<h3 id="testing"> Welcome to Rate My Schedule! </h3> -->
	<input id="classInput" class="form-control" placeholder="Find a class" />

	<!--<input id="classSearch" class="form-control" placeholder="Search for a class" />-->

	<button onclick="writeReview()">Write a Review</button>

	<script>
		function writeReview() {
			document.location.href = '/write_review';
		}
	</script>

	<div style="margin-top: 3%; color: white; margin-left: 45.5%;"id="schedule-header">
		<h5>My Schedule</h5>
		<h5>Average Difficulty</h5>
	</div>

	<div id="schedule-placeholer" style="margin-left: 42%; color: white;">
		<p>Search for a class to add to your schedule to begin</p>
		<p> You can add up to 6 classes to your schedule </p>
	</div>
	<table id="schedule" style="display:none;">
		<tr>
			<th class="leftCol">Class</th>
			<th class="centerCol">Professor</th>
			<th class="rightCol">Score</th>
		</tr>
	</table>

	<!--<div id="schedule" style="display: none">
		<div class="schedule-body">
			<p>this is a filler class</p>
		</div>
		<div class="schedule-body">
			<p>this is a filler prof</p>
		</div>
		<div class="schedule-body">
			<p>this is a filler score</p>
		</div>
	</div>-->
	<button type="button" class="btn btn-default" style="margin-left:47.5%; margin-top: 3%;"> <a href="http://localhost:8080/write_review"> Write Review </a> </button>
<div>

	<script>
	var input = document.getElementById("classInput");
	//var input2 = document.getElementById("classSearch");
	var a = new Awesomplete(input);
	//var a2 = new Awesomplete(input2);

	var classList = [""];
	$(document).ready(function() {
		$.ajax({
			url: '/get-classes',
			type: 'GET',
			success: function(response) {
				for (var i = 0; i < response.length; i++) {
					var currClass = response[i].number + " " + response[i].name + " | " + response[i].professor;
					classList.push(currClass);
				}
				a.list = classList;
				//a2.list = classList;
			}
		});
	});
	</script>

	<script>
		window.addEventListener("awesomplete-selectcomplete", function(e){
			$("#classInput").val("");
			var x = document.getElementById("schedule-placeholer");
			var y = document.getElementById("schedule");

			var tempString = e.text.value.split(" | ");
			var classProf = tempString[1];
			tempString = tempString[0].split(" ");
			var classNum = tempString[0];
			var className = "";
			for (var i = 1; i < tempString.length; i++) {
				className += tempString[i];
				if ( i != tempString.length ) {
					className += " ";
				} 
			}
			var classScore = 5;
			var data;



			data = "<tr onclick=\"clickedClass('/view_class?name=" + className + "&number=" + classNum + "&professor= " + classProf + "')\">" +
						"<td class=\"leftCol\">" +  "<h1>" + classNum + "</h1>" +
				   				  "<p>" + className + "</p>" + 
		   				"</td>" +
		   				"<td class=\"centerCol\">" + "<h1>" + classProf + "</h1>" +
		   				"</td>" + 
		   				"<td class=\"rightCol\">" + "<h1>" + classScore + "</h1>" +
		   				"</td>" +  
	   				"</tr>";

			/*data = "<div class=\"schedule-body\">" + 
						"<h1>" + classNum + "</h1>" +
				   		"<p>" + className + "</p>" +
					"</div>" +
					"<div class=\"schedule-body\">" + 
						"<h1>" + classProf + "</h1>" +
					"</div>" +
					"<div class=\"schedule-body\">" +
						 "<h1>" + classScore + "</h1>" +
					"</div>";*/
			//console.log(document.getElementById("schedule").rows.length);
			if (document.getElementById("schedule").rows.length <= 6) {
				$("#schedule").append(data);
			}	


			/*data = "<h1>" + classNum + "</h1>" +
				   "<p>" + className + "</p>";
			$("#schedule-class").append(data);

			data = "<h1>" + classProf + "</h1>";
			$("#schedule-prof").append(data);
s
			data = "<h1>" + classScore + "</h1>";
			$("#schedule-score").append(data);*/

    		if (x.style.display != "none") {
       			x.style.display = "none";
       			y.style.display = "flex";
    		}
  			console.log(e.text.value);


			console.log( e.target.id );
		
			/*if ( e.target.id == "classSearch" ) {
				console.log( "doing something different" );
				$("#classSearch").val("");
				var x = document.getElementById("schedule-placeholer");
				var y = document.getElementById("schedule");

				var tempString = e.text.value.split(" | ");
				var classProf = tempString[1];
				tempString = tempString[0].split(" ");
				var classNum = tempString[0];
				var className = "";
				for (var i = 1; i < tempString.length; i++) {
					className += tempString[i];
					if ( i != tempString.length ) {
						className += " ";
					} 
				}
				var classScore = 5;
				
				$.ajax({
					url: '/write_review',
					type: 'GET',
					success: function(response) {
						window.location.href = response.redirect;
					}
				});
				document.location.href = '/write_review';

			}*/

			//else if ( e.target.id == "classInput" ) {
			/*
				$("#classInput").val("");
				var x = document.getElementById("schedule-placeholer");
				var y = document.getElementById("schedule");

				var tempString = e.text.value.split(" | ");
				var classProf = tempString[1];
				tempString = tempString[0].split(" ");
				var classNum = tempString[0];
				var className = "";
				for (var i = 1; i < tempString.length; i++) {
					className += tempString[i];
					if ( i != tempString.length ) {
						className += " ";
					} 
				}
				var classScore = 5;
				var data;

				data = "<tr onclick=\"clickedClass('/view_class?name=" + className + "&number=" + classNum + "&professor= " + classProf + "')\">" +
							"<td class=\"leftCol\">" +  "<h1>" + classNum + "</h1>" +
					   				  "<p>" + className + "</p>" + 
			   				"</td>" +
			   				"<td class=\"centerCol\">" + "<h1>" + classProf + "</h1>" +
			   				"</td>" + 
			   				"<td class=\"rightCol\">" + "<h1>" + classScore + "</h1>" +
			   				"</td>" +  
		   				"</tr>";

				data = "<div class=\"schedule-body\">" + 
							"<h1>" + classNum + "</h1>" +
					   		"<p>" + className + "</p>" +
						"</div>" +
						"<div class=\"schedule-body\">" + 
							"<h1>" + classProf + "</h1>" +
						"</div>" +
						"<div class=\"schedule-body\">" +
							 "<h1>" + classScore + "</h1>" +
						"</div>";
				$("#schedule").append(data);


				data = "<h1>" + classNum + "</h1>" +
					   "<p>" + className + "</p>";
				$("#schedule-class").append(data);

				data = "<h1>" + classProf + "</h1>";
				$("#schedule-prof").append(data);

				data = "<h1>" + classScore + "</h1>";
				$("#schedule-score").append(data);

	    		if (x.style.display != "none") {
	       			x.style.display = "none";
	       			y.style.display = "flex";
	    		}
	  			console.log(e.text.value);

	  		//}
			*/
	}, false);
	</script>
	<script>
		function clickedClass(route) {
			document.location.href = route;
			console.log("clicked class");
		}
	</script>

</body>
</html>
