<!DOCTYPE html>
<html style="background-color: #FFD700;">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!--<link rel="stylesheet" href="main-styles.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="background-color: #333; margin-top:1%;">
<a href = "http://localhost:8080">
<img style="margin-left: 45.5%;" src="/1j+ojl1FOMkX9WypfBe43D6kjfCAqBBLnBzJwXs1M3EMoAJtlSEsjvtj...jpeg"></img>
</a>
<script>
	var urls = window.location;
    var url = new URL(urls);
    var name = url.searchParams.get("name");
    var num = url.searchParams.get("number");
    var prof = url.searchParams.get("professor");
    var disp = num + " " + name + " " + "(" + prof + " )";
    console.log("display review");
</script>
<h3 style="margin-left: 20%; color: #FFD700;"> 
    Class Reviews for <script type="application/javascript">
        document.write(disp) </script></h3><br>
<form style="width: 20%; margin-left: 40%; color: #FFD700">
        Class:<br>
        
</form>


<!--<h3> Viewing the class <%= classId %></h3> -->
</body>
	
</html>
