<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="main-styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h3 style="margin-left: 45%;"> Rate My Schedule </h3>
<h3 style="margin-left: 45.75%;"> Write A Review </h3><br>
<form style="margin-left: 40%;">
	Class Name:<br>
	<input type="text" id="class" class="form-control"><br>
	<br>
	Professor:<br>
        <input type="text" id="prof" class="form-control"><br>
	<br>
	Title:<br>
	<input type="text" id="title" class="form-control"><br>
	<br>
	Difficulty:<br>
	<input type="text" id="score" class="form-control"><br>
	<br>
	Description:<br>
	<textarea cols="50" rows="10" id="desc" maxlength="1000" placeholder="Write review (Max 1000 characters)..." class="form-control"></textarea><br>
	<br><br>
	<button style="margin-left:12.5%;" onClick="sendReview()" class="btn btn-default" id="submit" type="button"> Submit Review </button>
	

</form>

<script>

function sendReview() {
	//alert(document.getElementById("class").value == "");
	
	var classname = document.getElementById("class").value;
	var prof = document.getElementById("prof").value;
	var title = document.getElementById("title").value;
	var score = document.getElementById("score").value;
	var desc = document.getElementById("desc").value;
	
	if (classname == "" || prof == "" || title == "" || score == "" || desc == "") {
		alert("Please fill out all of the fields")
	} else if (Number(score) < 0) {
		alert("Score must be greater than 0");
	} else if (Number(score) > 10) {
		alert("Score must be less than 10");
	} else {
		var urluse = '/sendreview?classname=' + classname + "&title=" + title + "&prof=" + prof + "&score=" + score + "&desc=" + desc;
		//console.log(url);
		$.ajax({
			//url : '/post_review?classname=' + classname + "&title=" + title + "&prof=" + prof + "&score=" + score + "&desc=" + desc,
			//url : url,
			url: urluse,
			type: 'post',
			success: function(response) {
				//console.log(url);
				alert("Review Added!");
				window.location.href="http://localhost:8080/";
			},
			error: function(xhr, textStatus, errorThrown) {
				console.log(errorThrown);
			}
		});		
	}
}

</script>

<!--
	<h3> Rate My Schedule </h3></br>
	<h3> Write A Class Review </h3></br>
	
	<div class=block">
		<label style="dispay: inline-block; width: 140px; text-align: right;"> Class Name </label>
		<input type="text" id="class" placeholder="Class Name..."/>
	</div>
	</br>	
	<div class=block">
                <label style="dispay: inline-block; width: 140px; text-align: right;"> Professor </label>
                <input type="text" id="professor" placeholder="Professor..."/>
        </div>
	</br>
	<div class=block">
                <label style="dispay: inline-block; width: 140px; text-align: right;"> Title </label>
                <input type="text" id="title" placeholder="Title..."/>
        </div>
	</br>
	<div class=block">
                <label style="dispay: inline-block; width: 140px; text-align: right;"> Difficulty (1 (Easiest) to 10 (Hardest))</label>
                <input type="text" class="rating" data-size="lg" id="score" placeholder="Score..."/>
        </div>
	</br>
	<div class=block">
                <label style="dispay: inline-block; width: 140px; height: 300px; text-align: right;"> Description </label>
                <input type="text" id="description" placeholder="Description..."/>
        </div>
	</br>
	

-->
</body>
	
</html>
